#groups {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#groups section {
    display: flex;
    height: 100%;
    align-items: center;
    border-right: 1px solid #e8e8e8;
}

#group-tabs .group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-auto-rows: 1fr;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    padding: 8px 16px;
    cursor: pointer;
    transition: background .2s;
}

#group-tabs .group:nth-child(2n) {
    background-color: #f7faff;
}

#group-tabs .group:hover {
    background-color: #e4eeff;
}

#group-tabs li:last-child {
    border-bottom: none;
}

#group-tabs .group img {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    margin-right: 10px;
}

#group-tabs .group h2 {
    font-weight: 400;
}

#group-tabs .group p {
    font-size: 0.8rem;
    color: #666;
    margin-top: 2px;
}